* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: birds;
    src: url(./brids.ttf);
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Great Vibes', cursive;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* VIDEO CONTAINER */

.card-video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #ecbb77 92%,#a4804b 100%);;
    margin: 0 auto;
}

.card-video {
    width: 90%;
    height: 90%;
    border: solid 20px floralwhite;
}

.card-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px);
}

.show {
    display: inline-block;
    position: absolute;
}

.none {
    display: none;
}

.card-verse, .card-msj {
    width: 80%;
    position: absolute;
    font-family: birds;
    z-index: 10;
    border: 4px solid floralwhite;
    padding: 5px;
}

.pos-verse {
    top: 15%;
}

.pos-msj {
    bottom: 15%;
    letter-spacing: 8px;
}

.card-sphere {
    height: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 4px solid #a4804b;
    background-color: rgba(255, 250, 240, 0.452);
    padding: 5px;
}

.card-sphere h1 {
    font-size: 1.2em ;
}

.card-sphere h5 {
    font-size: 1em;
}

/* TIME LINE HEADER */

.card-time_line-header {
    width: 100%;
    text-align:center;
    margin: 30px 0;
}

/* TIME LINE CONTIANER */

.card-time_line-container {
	max-width: 1200px;
    background-color: floralwhite; 
	display: flex;
	flex-direction: column;
	position: relative;
    border: 10px solid #ecbb77;
    padding: 10% 5%;
	margin: 0px auto;
}

.card-time_line-container > div {
    
}


/* florarl white #fffaf0 
    ivory #fffff0
    oldlace #fdf5e6
*/
.card-time_line-container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg, #ecbb77 92%, #a4804b 100%);
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.card-time_line-event {
    display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	position: relative;
    border: 7px solid white;
    padding: 5px;
}

.card-time_line-event::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: oldlace;
	border: 2px solid #d4a768;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.card-time_line-event:nth-child(even) {
	flex-direction: row-reverse;
}

.card-time_line-event:nth-child(even) .fecha {
	justify-content: end;
}

.card-time_line-event:nth-child(even) .card-time_line-photo::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -40px;
}

.card-time_line-photo {
	width: 44%;
	border: 5px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-time_line-photo::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -40px;
	top: calc(50% - 20px);
}

.card-time_line-photo > img {
    width: 100%;
	vertical-align: top;
}

.card-time_line-date {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(44% + 1px);
	font-size: 20px;
	font-weight: normal;
    padding: 2px;
}

/* PARENTS INVITATION */

.card-parents {
    width: 100%;
    height: 100vh;
    border: 10px solid #ecbb77;
    background-color: floralwhite;
}

.card-parents__square {
    width: 100%;
    display: flex;
    height: 26%;
}

.border1 {
    border: 10px 10px 0px 10px solid white;
}

.border2 {
    border: 0px 10px 10px 10px solid white;
}

.card-parents__info {
    display: flex;
    justify-content: space-between;
}

.card-parents__info > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-parents__p12 {
    width: 60%;
}

.card-parents_invite {
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #ecbb77;
}

.card-parents_invite > div {
    text-align: center;
    margin-bottom: 40px;
}