* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: birds;
    src: url(./brids.ttf);
}

body {
   
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Great Vibes', cursive;
    overflow: hidden;
}

.card {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0 auto;
}

/* VIDEO CONTAINER */

.card-video-container, .card-input-view-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: floralwhite;
    background-image: url("./assets/golden-frame.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.card-input-container {
    display: flex;
    justify-content: space-between;
}

.card-input-container > input {
    width: 230px;
    font-family: 'Great Vibes', cursive;
    padding: 5px 15px;
    height: 50px;
    border: 4px solid #a4804b;
    letter-spacing: 3px;
    font-size: 22px;
}

.card-send {
    outline: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    z-index: 10;
    border: 2px solid #a4804b;
    background-color: rgba(255, 250, 240, 0.452);
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    -webkit-text-fill-color: #000;
}

.card-video {
    width: 75%;
    height: 75%;
}

.card-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    margin-top: 20px;
}

.show {
    display: inline-block;
    position: absolute;
}

.none {
    display: none;
}

.card-verse, .card-msj {
    position: absolute;
    z-index: 10;
    border: 4px solid floralwhite;
    padding: 5px;
}

.pos-verse {
    top: 15%;
}

.pos-msj {
    bottom: 15%;
    letter-spacing: 8px;
}

.card-initial-container {
    position: absolute;
    z-index: 10;
    padding: 5px;
}

.card-initial {
    position: relative;
    width: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 4px solid #a4804b;
    background-color: rgba(255, 250, 240, 0.452);
    padding: 15px;
}

.card-initial h1 {
    font-size: 2.9em ;
}

.card-sphere {
    height: 77px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    border: 4px solid #a4804b;
    background-color: rgba(255, 250, 240, 0.452);
    padding: 5px;
}

.card-sphere h1 {
    font-size: 1.9em ;
}

.card-sphere h5 {
    font-size: 1.36em;
    letter-spacing: 3px;
}
.card-sphere h6 {
    font-size: 1em;
    letter-spacing: 3px;
}

/* TIME LINE HEADER */

.card-time_line-header {
    width: 100%;
    text-align:center;
    margin: 30px 0;
}

.card-time_line-header > h1 {
    font-size: 1.9em;
    font-weight: bold;
    background-image: linear-gradient( to right, #f6e27a 0, #cb9b51 22%, #cb9b51 55%, #d4a768 50%, #cb9b51 55%, #cb9b51 104%, #cb9b51 96% );
    color:transparent;
   -webkit-background-clip:text;
   padding: 20px;
   border: 5px solid #ecbb77;
}

/* TIME LINE CONTIANER */

.card-time_line-container {
	max-width: 1200px;
    background-color: floralwhite; 
	display: flex;
	flex-direction: column;
	position: relative;
    border: 5px solid #ecbb77;
    padding: 10% 5%;
	margin: 0px auto;
}

/* florarl white #fffaf0 
    ivory #fffff0
    oldlace #fdf5e6
*/
.card-time_line-container::after {
	content: "";
	width: 2px;
	height: 100%;
	background: linear-gradient(0deg, #ecbb77 92%, #a4804b 100%);
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}

.card-time_line-event {
    display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	position: relative;
    border: 7px solid white;
    padding: 5px;
}

.card-time_line-event::after {
	content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: oldlace;
	border: 2px solid #d4a768;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

.card-time_line-event:nth-child(even) {
	flex-direction: row-reverse;
}

.card-time_line-event:nth-child(even) .fecha {
	justify-content: end;
}

.card-time_line-event:nth-child(even) .card-time_line-photo::after {
	content: "";
	border: 20px solid transparent;
	border-right: 20px solid #fff;
	right: initial;
	left: -40px;
}

.card-time_line-photo {
	width: 44%;
	border: 5px solid #fff;
	position: relative;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-time_line-photo::after {
	content: "";
	display: block;
	border: 20px solid transparent;
	border-left: 20px solid #fff;
	position: absolute;
	right: -40px;
	top: calc(50% - 20px);
}

.card-time_line-photo > img {
    width: 100%;
	vertical-align: top;
}

.card-time_line-date {
	display: flex;
	align-items: center;
	justify-content: start;
	width: calc(44% + 1px);
	font-size: 20px;
	font-weight: normal;
    padding: 2px;
}

/* PARENTS INVITATION */

.card-parents {
    width: 100%;
    border: 5px solid #ecbb77;
    background-color: floralwhite;
}

.card-parents__square {
    width: 100%;
    display: flex;
    height: 30%;
}

.border1 {
    border: 10px 10px 0px 10px solid white;
}

.border2 {
    border: 0px 10px 10px 10px solid white;
}

.card-parents__info {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.card-parents__info > div {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-parents__p12 {
    width: 53%;
}

.card-parents_invite {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/golden-frame.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    border-top: 5px solid #ecbb77;
    padding: 140px 10px 10px 10px;
    
}

.card-parents_invite > div {
    text-align: center;
}
.card-parents_msj > p{
    font-size: 21px;
}

.card-parents_invite > p {
    font-size: 2.3em;
   font-weight: bold;
    background-image: linear-gradient( to right, #f6e27a 0, #cb9b51 22%, #f6e27a 55%, #d4a768 50%, #f6e27a 55%, #cb9b51 104%, #cb9b51 96% );
   color:transparent;
   -webkit-background-clip:text;
   margin-top: 20px;
}

.card-parents__place-date {
    width: 90%;
    margin: 20px 0;
}

.card-parents__place-date > p {
    font-size: 23px;
    padding: 5px;
}

.card-parents__place-date > div {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 30px 0;
    font-size: 23px;
}
.date {
    font-weight: bold;
    background-image: linear-gradient( to right, #f6e27a 0, #cb9b51 22%, #cb9b51 55%, #d4a768 50%, #cb9b51 55%, #cb9b51 104%, #cb9b51 96% );
    color:transparent;
   -webkit-background-clip:text;
    margin-bottom: 10px;
    font-size: 30px !important;
}